# Creating August Schedule 
**In this notebook, we'll build the august 2025 schedule for Internal Medicine, Pediatrics, and Family Practice using the scheduler.**

In [1]:
## Setup and Imports
import sys
from pathlib import Path
import os
import pandas as pd
from datetime import date, timedelta

In [2]:
# Add project root (one level up from 'notebooks') to sys.path
project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [3]:
# Import our scheduling engine
from engine.engine import create_im_schedule, create_peds_schedule, create_fp_schedule

# Import calendar generation
from utils.calendar_formatter import create_html_calendar

## Internal Medicine Schedule

In [4]:
schedule_df, provider_summary_df, solution_status = create_im_schedule(
    config_path = '../config/internal_medicine.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    start_date = date(2025, 8, 4),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-23 22:04:59,521 - engine.engine - INFO - Creating schedule for Internal Medicine from 2025-08-04 to 2025-08-29
2025-05-23 22:04:59,523 - engine.engine - INFO - Parsing input files
2025-05-23 22:04:59,532 - engine.engine - INFO - Building calendar
2025-05-23 22:04:59,532 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-23 22:04:59,532 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-23 22:04:59,548 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-05-23 22:04:59,548 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-05-23 22:04:59,567 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-05-23 22:04:59,568 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-05-23 22:04:59,586 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-05-23 22:04:59,587 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [5]:
schedule_df.to_csv('../output/august/internal_medicine/schedule_df.csv', index = False)
schedule_df

,date,day_of_week,session,providers,count
0,2025-08-04,Monday,morning,"Mcrae,Miles,Orcutt",3
1,2025-08-04,Monday,afternoon,"Mcrae,Miles,Orcutt",3
2,2025-08-05,Tuesday,morning,"Mcrae,Miles,Selig,Stewart,Tanay",5
3,2025-08-05,Tuesday,afternoon,"Mcrae,Selig,Stewart,Tanay",4
4,2025-08-06,Wednesday,morning,"Selig,Stewart,Tanay",3
5,2025-08-06,Wednesday,afternoon,"Selig,Tanay",2
6,2025-08-07,Thursday,afternoon,"Mcrae,Selig,Tanay",3
7,2025-08-08,Friday,morning,"Stewart,Tanay",2
8,2025-08-08,Friday,afternoon,"Mcrae,Selig",2
9,2025-08-11,Monday,morning,"Miles,Selig",2
10,2025-08-11,Monday,afternoon,"Miles,Selig",2
11,2025-08-12,Tuesday,morning,"Miles,Stewart,Tanay,Wadlin",4
12,2025-08-12,Tuesday,afternoon,"Bornstein,Stewart,Tanay,Wadlin",4
13,2025-08-13,Wednesday,morning,"Mcrae,Selig,Stewart,Tanay,Wadlin",5
14,2025-08-13,Wednesday,afternoon,"Mcrae,Selig,Tanay,Wadlin",4
15,2025-08-14,Thursday,afternoon,"Bornstein,Mcrae,Selig,Tanay",4
16,2025-08-15,Friday,morning,"Mcrae,Stewart,Tanay,Wadlin",4
17,2025-08-15,Friday,afternoon,"Mcrae,Selig",2
18,2025-08-18,Monday,morning,"Mcrae,Selig",2
19,2025-08-18,Monday,afternoon,"Mcrae,Selig",2
20,2025-08-19,Tuesday,morning,"Bornstein,Stewart,Tanay",3
21,2025-08-19,Tuesday,afternoon,"Bornstein,Stewart,Tanay",3
22,2025-08-20,Wednesday,morning,"Bornstein,Mcrae,Selig,Stewart,Tanay",5
23,2025-08-20,Wednesday,afternoon,"Mcrae,Selig,Tanay",3
24,2025-08-21,Thursday,afternoon,"Selig,Tanay",2
25,2025-08-22,Friday,morning,"Mcrae,Selig,Stewart,Tanay",4
26,2025-08-22,Friday,afternoon,"Bornstein,Mcrae",2
27,2025-08-25,Monday,morning,"Mcrae,Tanay",2
28,2025-08-25,Monday,afternoon,"Mcrae,Tanay",2
29,2025-08-26,Tuesday,morning,"Bornstein,Selig,Stewart,Tanay,Wadlin",5
30,2025-08-26,Tuesday,afternoon,"Bornstein,Selig,Stewart,Tanay,Wadlin",5
31,2025-08-27,Wednesday,morning,"Mcrae,Selig,Stewart,Tanay,Wadlin",5
32,2025-08-27,Wednesday,afternoon,"Bornstein,Mcrae,Selig,Tanay",4
33,2025-08-28,Thursday,afternoon,"Mcrae,Selig",2
34,2025-08-29,Friday,morning,"Selig,Stewart",2
35,2025-08-29,Friday,afternoon,"Bornstein,Mcrae",2

In [6]:
provider_summary_df.to_csv('../output/august/internal_medicine/provider_summary_df.csv', index = False)
provider_summary_df

    provider  week_32  week_33  week_34  week_35  total_sessions
0  Bornstein        0        2        4        4              10
1      Mcrae        6        5        6        6              23
2      Miles        3        3        0        0               6
3     Orcutt        2        0        0        0               2
4      Selig        6        6        6        6              24
5    Stewart        4        4        4        4              16
6      Tanay        6        6        6        6              24
7     Wadlin        0        5        0        3               8

In [7]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 3900.0,
 'Solve time': '0.021691 seconds',
 'Branches': 440,
 'Conflicts': 0}

In [8]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/internal_medicine.yml',
                     leave_requests_path = '../data/leave_requests.csv',
                     inpatient_path = '../data/inpatient.csv',
                     title = 'Internal Medicine Calendar', 
                     output_dir = '../output/august/internal_medicine',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-08-04 to 2025-08-29
Processing 36 schedule entries...
Processed schedule data for 20 unique dates
Filtered to 37 leave requests for this department
Processing 37 leave requests...
Processed leave requests for 20 unique dates
Filtered to 3 inpatient assignments for this department
Processing 3 inpatient assignments...
Processed inpatient assignments for 21 unique dates
Calendar saved to: ../output/august/internal_medicine/calendar.html

## Pediatric Schedule

In [9]:
schedule_df, provider_summary_df, call_summary_df, solution_status = create_peds_schedule(
    config_path = '../config/pediatrics.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    start_date = date(2025, 8, 3),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-23 22:04:59,625 - engine.engine - INFO - Creating schedule for Pediatric from 2025-08-03 to 2025-08-29
2025-05-23 22:04:59,627 - engine.engine - INFO - Parsing input files
2025-05-23 22:04:59,633 - engine.engine - INFO - Building calendar
2025-05-23 22:04:59,634 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-23 22:04:59,634 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-23 22:04:59,652 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-05-23 22:04:59,652 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-05-23 22:04:59,670 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-05-23 22:04:59,671 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-05-23 22:04:59,689 - engine.engine - WARNING - No feasible solution found with min_providers = 2
2025-05-23 22:04:59,689 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 1
2025-05-23 22:04:59,707 - engine.engine - WARNING - No feasible solution found with min_providers = 1
2025-05-23 22:04:59,707 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 0
2025-05-23 22:04:59,735 - engine.engine - INFO - Found optimal solution with min_providers = 0
2025-05-23 22:04:59,737 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 0

In [10]:
schedule_df.to_csv('../output/august/pediatrics/schedule_df.csv', index = False)
schedule_df

          date day_of_week    session                providers  count
0   2025-08-03      Sunday       call                 Carrasco    NaN
1   2025-08-04      Monday    morning            Carrasco,Tarr    2.0
2   2025-08-04      Monday  afternoon                     Tarr    1.0
3   2025-08-04      Monday       call                     Tarr    NaN
4   2025-08-05     Tuesday    morning            Carrasco,Tarr    2.0
5   2025-08-05     Tuesday  afternoon                 Carrasco    1.0
6   2025-08-05     Tuesday       call                 Carrasco    NaN
7   2025-08-06   Wednesday    morning      Miller,Sridhar,Tarr    3.0
8   2025-08-06   Wednesday  afternoon      Miller,Sridhar,Tarr    3.0
9   2025-08-06   Wednesday       call                   Powell    NaN
10  2025-08-07    Thursday  afternoon    Carrasco,Sridhar,Tarr    3.0
11  2025-08-07    Thursday       call                   Miller    NaN
12  2025-08-08      Friday    morning                   Miller    1.0
13  2025-08-08      Friday  afternoon                             0.0
14  2025-08-10      Sunday       call                   Powell    NaN
15  2025-08-11      Monday    morning  Menachof,Miller,Sridhar    3.0
16  2025-08-11      Monday  afternoon           Miller,Sridhar    2.0
17  2025-08-11      Monday       call                 Menachof    NaN
18  2025-08-12     Tuesday    morning   Mador,Menachof,Sridhar    3.0
19  2025-08-12     Tuesday  afternoon            Mador,Sridhar    2.0
20  2025-08-12     Tuesday       call                  Sridhar    NaN
21  2025-08-13   Wednesday    morning   Mador,Menachof,Sridhar    3.0
22  2025-08-13   Wednesday  afternoon                    Mador    1.0
23  2025-08-13   Wednesday       call                    Mador    NaN
24  2025-08-14    Thursday  afternoon           Miller,Sridhar    2.0
25  2025-08-14    Thursday       call                   Miller    NaN
26  2025-08-15      Friday    morning                   Miller    1.0
27  2025-08-15      Friday  afternoon                             0.0
28  2025-08-17      Sunday       call                  Sridhar    NaN
29  2025-08-18      Monday    morning           Miller,Sridhar    2.0
30  2025-08-18      Monday  afternoon                   Miller    1.0
31  2025-08-18      Monday       call                   Powell    NaN
32  2025-08-19     Tuesday    morning    Bedele,Miller,Sridhar    3.0
33  2025-08-19     Tuesday  afternoon    Bedele,Miller,Sridhar    3.0
34  2025-08-19     Tuesday       call                     Shin    NaN
35  2025-08-20   Wednesday    morning   Bedele,Carrasco,Miller    3.0
36  2025-08-20   Wednesday  afternoon   Bedele,Carrasco,Miller    3.0
37  2025-08-20   Wednesday       call                   Miller    NaN
38  2025-08-21    Thursday  afternoon  Bedele,Carrasco,Sridhar    3.0
39  2025-08-21    Thursday       call                   Bedele    NaN
40  2025-08-22      Friday    morning           Bedele,Sridhar    2.0
41  2025-08-22      Friday  afternoon                  Sridhar    1.0
42  2025-08-24      Sunday       call                   Powell    NaN
43  2025-08-25      Monday    morning                  Sridhar    1.0
44  2025-08-25      Monday  afternoon                  Sridhar    1.0
45  2025-08-25      Monday       call                     Shin    NaN
46  2025-08-26     Tuesday    morning         Carrasco,Sridhar    2.0
47  2025-08-26     Tuesday  afternoon         Carrasco,Sridhar    2.0
48  2025-08-26     Tuesday       call                 Menachof    NaN
49  2025-08-27   Wednesday    morning   Carrasco,Menachof,Shin    3.0
50  2025-08-27   Wednesday  afternoon                 Carrasco    1.0
51  2025-08-27   Wednesday       call                 Carrasco    NaN
52  2025-08-28    Thursday  afternoon                             0.0
53  2025-08-28    Thursday       call                   Powell    NaN
54  2025-08-29      Friday    morning            Carrasco,Shin    2.0
55  2025-08-29      Friday  afternoon                 Carrasco    1.0

In [11]:
provider_summary_df.to_csv('../output/august/pediatrics/provider_summary_df.csv', index = False)
provider_summary_df

   provider  week_32  week_33  week_34  week_35  total_clinic
0    Bedele        0        0        6        0             6
1  Carrasco        4        0        3        6            13
2     Mador        0        4        0        0             4
3  Menachof        0        3        0        1             4
4    Miller        3        4        6        0            13
5    Powell        0        0        0        0             0
6      Shin        0        0        0        2             2
7   Sridhar        3        6        6        4            19
8      Tarr        6        0        0        0             6

In [12]:
call_summary_df.to_csv('../output/august/pediatrics/call_summary_df.csv', index = False)
call_summary_df

   provider  week_31  week_32  week_33  week_34  week_35  total_call
0    Bedele        0        0        0        1        0           1
1  Carrasco        1        1        0        0        1           3
2     Mador        0        0        1        0        0           1
3  Menachof        0        0        1        0        1           2
4    Miller        0        1        1        1        0           3
5    Powell        0        2        0        2        1           5
6      Shin        0        0        0        1        1           2
7   Sridhar        0        0        2        0        0           2
8      Tarr        0        1        0        0        0           1

In [13]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 0,
 'Objective value': 9400.0,
 'Solve time': '0.012458 seconds',
 'Branches': 317,
 'Conflicts': 0}

In [14]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/pediatrics.yml',
                     leave_requests_path = '../data/leave_requests.csv',
                     inpatient_path = '../data/inpatient.csv',
                     title = 'Pediatrics Calendar', 
                     output_dir = '../output/august/pediatrics',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-08-03 to 2025-08-29
Processing 56 schedule entries...
Processed schedule data for 24 unique dates
Filtered to 65 leave requests for this department
Processing 65 leave requests...
Processed leave requests for 20 unique dates
Filtered to 7 inpatient assignments for this department
Processing 7 inpatient assignments...
Processed inpatient assignments for 35 unique dates
Calendar saved to: ../output/august/pediatrics/calendar.html

## Family Practice Schedule

In [15]:
schedule_df, provider_summary_df, solution_status = create_fp_schedule(
    config_path = '../config/family_practice.yml',
    leave_requests_path = '../data/leave_requests.csv',
    inpatient_path = '../data/inpatient.csv',
    peds_schedule_path = '../output/august/pediatrics/schedule_df.csv',
    start_date = date(2025, 8, 4),
    end_date = date(2025, 8, 29),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-05-23 22:04:59,805 - engine.engine - INFO - Creating schedule for Family Practice from 2025-08-04 to 2025-08-29
2025-05-23 22:04:59,806 - engine.engine - INFO - Parsing input files
2025-05-23 22:04:59,812 - engine.engine - INFO - Loading pediatric schedule
2025-05-23 22:04:59,815 - engine.engine - INFO - Successfully loaded pediatric schedule with 56 rows
2025-05-23 22:04:59,816 - engine.engine - INFO - Building calendar
2025-05-23 22:04:59,816 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-05-23 22:04:59,816 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-05-23 22:04:59,843 - engine.engine - INFO - Found optimal solution with min_providers = 4
2025-05-23 22:04:59,844 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 4

In [16]:
schedule_df.to_csv('../output/august/family_practice/schedule_df.csv', index = False)
schedule_df

,date,day_of_week,session,providers,count
0,2025-08-04,Monday,morning,"Brush,Gelman,Mullenix,Suen",4
1,2025-08-04,Monday,afternoon,"Austin,Mullenix,Salay,Suen",4
2,2025-08-05,Tuesday,morning,"Austin,Mullenix,Powell,Suen",4
3,2025-08-05,Tuesday,afternoon,"Austin,Gelman,Mullenix,Suen",4
4,2025-08-06,Wednesday,morning,"Mullenix,Powell,Salay,Suen",4
5,2025-08-06,Wednesday,afternoon,"Brush,Powell,Salay,Suen",4
6,2025-08-07,Thursday,afternoon,"Austin,Brush,Mullenix,Salay",4
7,2025-08-08,Friday,morning,"Austin,Brush,Gelman,Salay",4
8,2025-08-08,Friday,afternoon,"Austin,Brush,Gelman,Salay",4
9,2025-08-11,Monday,morning,"Austin,Gelman,Salay,Suen",4
10,2025-08-11,Monday,afternoon,"Austin,Gelman,Salay,Suen",4
11,2025-08-12,Tuesday,morning,"Bia,Brush,Gelman,Suen",4
12,2025-08-12,Tuesday,afternoon,"Bia,Brush,Powell,Suen",4
13,2025-08-13,Wednesday,morning,"Bia,Brush,Powell,Suen",4
14,2025-08-13,Wednesday,afternoon,"Austin,Powell,Salay,Suen",4
15,2025-08-14,Thursday,afternoon,"Austin,Bia,Gelman,Salay",4
16,2025-08-15,Friday,morning,"Austin,Brush,Powell,Salay",4
17,2025-08-15,Friday,afternoon,"Austin,Brush,Powell,Salay",4
18,2025-08-18,Monday,morning,"Bia,Brush,Powell,Suen",4
19,2025-08-18,Monday,afternoon,"Bia,Brush,Powell,Suen",4
20,2025-08-19,Tuesday,morning,"Mullenix,Salay,Shin,Suen",4
21,2025-08-19,Tuesday,afternoon,"Bia,Mullenix,Salay,Suen",4
22,2025-08-20,Wednesday,morning,"Brush,Mullenix,Salay,Suen",4
23,2025-08-20,Wednesday,afternoon,"Mullenix,Powell,Salay,Suen",4
24,2025-08-21,Thursday,afternoon,"Bia,Brush,Mullenix,Shin",4
25,2025-08-22,Friday,morning,"Bia,Brush,Powell,Salay",4
26,2025-08-22,Friday,afternoon,"Bia,Mullenix,Powell,Salay",4
27,2025-08-25,Monday,morning,"Bia,Brush,Salay,Shin",4
28,2025-08-25,Monday,afternoon,"Bia,Brush,Salay,Shin",4
29,2025-08-26,Tuesday,morning,"Austin,Gelman,Mullenix,Powell,Salay",5
30,2025-08-26,Tuesday,afternoon,"Austin,Brush,Gelman,Powell,Salay",5
31,2025-08-27,Wednesday,morning,"Austin,Mullenix,Powell,Suen",4
32,2025-08-27,Wednesday,afternoon,"Austin,Bia,Mullenix,Powell,Suen",5
33,2025-08-28,Thursday,afternoon,"Austin,Bia,Brush,Mullenix,Suen",5
34,2025-08-29,Friday,morning,"Bia,Mullenix,Powell,Suen",4
35,2025-08-29,Friday,afternoon,"Bia,Brush,Mullenix,Suen",4

In [17]:
provider_summary_df.to_csv('../output/august/family_practice/provider_summary_df.csv', index = False)
provider_summary_df

   provider  week_32  week_33  week_34  week_35  total_sessions
0    Austin        6        6        0        5              17
1       Bia        0        4        6        6              16
2     Brush        5        5        5        5              20
3    Gelman        4        4        0        2              10
4  Mullenix        6        0        6        6              18
5    Powell        3        5        5        5              18
6     Salay        6        6        6        4              22
7      Shin        0        0        2        2               4
8      Suen        6        6        6        5              23

In [18]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 4,
 'Objective value': 3400.0,
 'Solve time': '0.012888 seconds',
 'Branches': 954,
 'Conflicts': 55}

In [19]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/family_practice.yml',
                     leave_requests_path = '../data/leave_requests.csv',
                     inpatient_path = '../data/inpatient.csv',
                     title = 'Family Practice Calendar', 
                     output_dir = '../output/august/family_practice',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-08-04 to 2025-08-29
Processing 36 schedule entries...
Processed schedule data for 20 unique dates
Filtered to 29 leave requests for this department
Processing 29 leave requests...
Processed leave requests for 20 unique dates
Filtered to 4 inpatient assignments for this department
Processing 4 inpatient assignments...
Processed inpatient assignments for 28 unique dates
Calendar saved to: ../output/august/family_practice/calendar.html