# Generating the December 2025 Schedule 
**This notebook builds the December 2025 schedule for Internal Medicine, Pediatrics, and Family Practice using the scheduler.**

In [1]:
## Setup and Imports
import sys
from pathlib import Path
import os
import pandas as pd
from datetime import date, timedelta

In [2]:
# Add project root (one level up from 'notebooks') to sys.path
project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [3]:
# Import our scheduling engine
from engine.engine import create_im_schedule, create_peds_schedule, create_fp_schedule

# Import calendar generation
from utils.calendar_formatter import create_html_calendar

## Internal Medicine Schedule

In [4]:
schedule_df, provider_summary_df, solution_status = create_im_schedule(
    config_path = '../config/internal_medicine.yml',
    leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
    inpatient_path = '../data/inpatient_sep_dec_25.csv',
    start_date = date(2025, 12, 1),
    end_date = date(2026, 1, 2),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-06-19 16:37:36,879 - engine.engine - INFO - Creating schedule for Internal Medicine from 2025-12-01 to 2026-01-02
2025-06-19 16:37:36,880 - engine.engine - INFO - Parsing input files
2025-06-19 16:37:36,887 - engine.engine - INFO - Building calendar
2025-06-19 16:37:36,888 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-06-19 16:37:36,888 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-06-19 16:37:36,904 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-06-19 16:37:36,904 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-06-19 16:37:36,918 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-06-19 16:37:36,918 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-06-19 16:37:36,931 - engine.engine - WARNING - No feasible solution found with min_providers = 2
2025-06-19 16:37:36,931 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 1
2025-06-19 16:37:36,962 - engine.engine - INFO - Found optimal solution with min_providers = 1
2025-06-19 16:37:36,964 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 1

In [5]:
schedule_df.to_csv('../output/december_25/internal_medicine/schedule_df.csv', index = False)
schedule_df

          date day_of_week    session                        providers  count
0   2025-12-01      Monday    morning         Mcnett,Mcrae,Miles,Selig      4
1   2025-12-01      Monday  afternoon       Mcnett,Mcrae,Stewart,Tanay      4
2   2025-12-02     Tuesday    morning          Mcrae,Miles,Selig,Tanay      4
3   2025-12-02     Tuesday  afternoon        Mcrae,Selig,Stewart,Tanay      4
4   2025-12-03   Wednesday    morning  Bornstein,Mcnett,Stewart,Wadlin      4
5   2025-12-03   Wednesday  afternoon  Bornstein,Mcnett,Stewart,Wadlin      4
6   2025-12-04    Thursday  afternoon         Miles,Selig,Tanay,Wadlin      4
7   2025-12-05      Friday    morning      Bornstein,Mcrae,Selig,Tanay      4
8   2025-12-05      Friday  afternoon      Bornstein,Mcrae,Selig,Tanay      4
9   2025-12-08      Monday    morning         Mcnett,Mcrae,Miles,Tanay      4
10  2025-12-08      Monday  afternoon        Mcnett,Miles,Tanay,Wadlin      4
11  2025-12-09     Tuesday    morning        Mcnett,Mcrae,Tanay,Wadlin      4
12  2025-12-09     Tuesday  afternoon         Mcrae,Selig,Tanay,Wadlin      4
13  2025-12-10   Wednesday    morning       Selig,Stewart,Tanay,Wadlin      4
14  2025-12-10   Wednesday  afternoon       Selig,Stewart,Tanay,Wadlin      4
15  2025-12-11    Thursday  afternoon         Mcnett,Mcrae,Miles,Selig      4
16  2025-12-12      Friday    morning       Mcnett,Mcrae,Selig,Stewart      4
17  2025-12-12      Friday  afternoon       Mcnett,Mcrae,Selig,Stewart      4
18  2025-12-15      Monday    morning       Mcrae,Selig,Stewart,Wadlin      4
19  2025-12-15      Monday  afternoon       Mcnett,Mcrae,Selig,Stewart      4
20  2025-12-16     Tuesday    morning       Mcnett,Miles,Stewart,Tanay      4
21  2025-12-16     Tuesday  afternoon        Mcnett,Miles,Tanay,Wadlin      4
22  2025-12-17   Wednesday    morning     Bornstein,Selig,Tanay,Wadlin      4
23  2025-12-17   Wednesday  afternoon   Bornstein,Mcrae,Stewart,Wadlin      4
24  2025-12-18    Thursday  afternoon        Mcnett,Miles,Tanay,Wadlin      4
25  2025-12-19      Friday    morning         Mcnett,Mcrae,Selig,Tanay      4
26  2025-12-19      Friday  afternoon         Mcnett,Mcrae,Selig,Tanay      4
27  2025-12-22      Monday    morning                            Miles      1
28  2025-12-22      Monday  afternoon                            Miles      1
29  2025-12-23     Tuesday    morning                      Mcrae,Selig      2
30  2025-12-23     Tuesday  afternoon                      Mcrae,Selig      2
31  2025-12-24   Wednesday    morning                      Mcrae,Selig      2
32  2025-12-24   Wednesday  afternoon                      Mcrae,Selig      2
33  2025-12-26      Friday    morning                      Mcrae,Selig      2
34  2025-12-26      Friday  afternoon                Mcrae,Miles,Selig      3
35  2025-12-29      Monday    morning                            Tanay      1
36  2025-12-29      Monday  afternoon                            Tanay      1
37  2025-12-30     Tuesday    morning              Mcrae,Selig,Stewart      3
38  2025-12-30     Tuesday  afternoon              Mcrae,Selig,Stewart      3
39  2025-12-31   Wednesday    morning        Mcrae,Selig,Stewart,Tanay      4
40  2025-12-31   Wednesday  afternoon        Mcrae,Selig,Stewart,Tanay      4
41  2026-01-02      Friday    morning                          Stewart      1
42  2026-01-02      Friday  afternoon                          Stewart      1

In [6]:
provider_summary_df.to_csv('../output/december_25/internal_medicine/provider_summary_df.csv', index = False)
provider_summary_df

,provider,week_1,week_49,week_50,week_51,week_52,total_sessions,monday_or_friday_off,total_AM,total_PM
0,Bornstein,"0, 0","4, 2","0, 0","2, 2","0, 0",6,6,3,3
1,Mcnett,"0, 0","4, 2","6, 3","6, 3","0, 0",16,4,7,9
2,Mcrae,"0, 0","6, 4","6, 3","5, 2","6, 6",27,3,13,14
3,Miles,"0, 0","3, 1","3, 2","3, 2","3, 2",12,5,5,7
4,Selig,"0, 0","6, 3","6, 3","5, 2","6, 6",27,4,13,14
5,Stewart,"2, 2","4, 3","4, 2","4, 3","0, 0",18,6,8,10
6,Tanay,"0, 0","6, 3","6, 6","6, 3","0, 0",22,5,10,12
7,Wadlin,"0, 0","3, 2","5, 5","5, 3","0, 0",13,6,5,8

In [7]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 1,
 'Objective value': 11100.0,
 'Solve time': '0.019888 seconds',
 'Branches': 448,
 'Conflicts': 0}

In [8]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/internal_medicine.yml',
                     leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
                     inpatient_path = '../data/inpatient_sep_dec_25.csv',
                     title = 'Internal Medicine Calendar', 
                     output_dir = '../output/december_25/internal_medicine',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-12-01 to 2026-01-02
Processing 43 schedule entries...
Processed schedule data for 23 unique dates
Filtered to 111 leave requests for this department
Processing 111 leave requests...
Processed leave requests for 55 unique dates
Filtered to 11 inpatient assignments for this department
Processing 11 inpatient assignments...
Processed inpatient assignments for 70 unique dates
Found 5 weeks containing scheduled dates
Calendar saved to: ../output/december_25/internal_medicine/calendar.html

## Pediatric Schedule

In [9]:
schedule_df, provider_summary_df, call_summary_df, solution_status = create_peds_schedule(
    config_path = '../config/pediatrics.yml',
    leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
    inpatient_path = '../data/inpatient_sep_dec_25.csv',
    start_date = date(2025, 11, 30),
    end_date = date(2025, 12, 20),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-06-19 16:37:37,012 - engine.engine - INFO - Creating schedule for Pediatric from 2025-11-30 to 2025-12-20
2025-06-19 16:37:37,013 - engine.engine - INFO - Parsing input files
2025-06-19 16:37:37,020 - engine.engine - INFO - Building calendar
2025-06-19 16:37:37,020 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-06-19 16:37:37,021 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-06-19 16:37:37,045 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-06-19 16:37:37,045 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-06-19 16:37:37,069 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-06-19 16:37:37,069 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-06-19 16:37:37,123 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-06-19 16:37:37,126 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [10]:
schedule_df.head(50)

          date day_of_week    session                        providers  count
0   2025-11-30      Sunday       call                         Lichtman    NaN
1   2025-12-01      Monday    morning                   Snyder,Sridhar    2.0
2   2025-12-01      Monday  afternoon                   Snyder,Sridhar    2.0
3   2025-12-01      Monday       call                          Sridhar    NaN
4   2025-12-02     Tuesday    morning            Bedele,Snyder,Sridhar    3.0
5   2025-12-02     Tuesday  afternoon           Bedele,Menachof,Snyder    3.0
6   2025-12-02     Tuesday       call                         Menachof    NaN
7   2025-12-03   Wednesday    morning     Bedele,Miller,Snyder,Sridhar    4.0
8   2025-12-03   Wednesday  afternoon     Bedele,Miller,Snyder,Sridhar    4.0
9   2025-12-03   Wednesday       call                           Bedele    NaN
10  2025-12-04    Thursday  afternoon            Miller,Snyder,Sridhar    3.0
11  2025-12-04    Thursday       call                             Shin    NaN
12  2025-12-05      Friday    morning                    Bedele,Miller    2.0
13  2025-12-05      Friday  afternoon                    Bedele,Miller    2.0
14  2025-12-05      Friday       call                         Carrasco    NaN
15  2025-12-06    Saturday       call                         Carrasco    NaN
16  2025-12-07      Sunday       call                           Bedele    NaN
17  2025-12-08      Monday    morning      Bedele,Mador,Snyder,Sridhar    4.0
18  2025-12-08      Monday  afternoon      Mador,Miller,Snyder,Sridhar    4.0
19  2025-12-08      Monday       call                           Miller    NaN
20  2025-12-09     Tuesday    morning   Bedele,Carrasco,Snyder,Sridhar    4.0
21  2025-12-09     Tuesday  afternoon   Bedele,Carrasco,Snyder,Sridhar    4.0
22  2025-12-09     Tuesday       call                         Carrasco    NaN
23  2025-12-10   Wednesday    morning    Carrasco,Mador,Miller,Sridhar    4.0
24  2025-12-10   Wednesday  afternoon      Mador,Miller,Snyder,Sridhar    4.0
25  2025-12-10   Wednesday       call                          Sridhar    NaN
26  2025-12-11    Thursday  afternoon    Bedele,Carrasco,Miller,Snyder    4.0
27  2025-12-11    Thursday       call                             Shin    NaN
28  2025-12-12      Friday    morning       Bedele,Mador,Miller,Snyder    4.0
29  2025-12-12      Friday  afternoon       Bedele,Mador,Miller,Snyder    4.0
30  2025-12-12      Friday       call                         Menachof    NaN
31  2025-12-13    Saturday       call                         Menachof    NaN
32  2025-12-14      Sunday       call                           Bedele    NaN
33  2025-12-15      Monday    morning       Bedele,Mador,Miller,Snyder    4.0
34  2025-12-15      Monday  afternoon              Mador,Miller,Snyder    3.0
35  2025-12-15      Monday       call                           Miller    NaN
36  2025-12-16     Tuesday    morning    Bedele,Carrasco,Miller,Snyder    4.0
37  2025-12-16     Tuesday  afternoon           Bedele,Carrasco,Snyder    3.0
38  2025-12-16     Tuesday       call                         Lichtman    NaN
39  2025-12-17   Wednesday    morning     Carrasco,Mador,Miller,Snyder    4.0
40  2025-12-17   Wednesday  afternoon     Carrasco,Mador,Miller,Snyder    4.0
41  2025-12-17   Wednesday       call                            Mador    NaN
42  2025-12-18    Thursday  afternoon  Bedele,Carrasco,Menachof,Miller    4.0
43  2025-12-18    Thursday       call                         Carrasco    NaN
44  2025-12-19      Friday    morning            Bedele,Carrasco,Mador    3.0
45  2025-12-19      Friday  afternoon                     Bedele,Mador    2.0
46  2025-12-19      Friday       call                          Sridhar    NaN
47  2025-12-20    Saturday       call                          Sridhar    NaN

In [11]:
# Get the current providers for session 12/5 AM
mask = (schedule_df['date'] == date(2025, 12, 5)) & (schedule_df['session'] == 'morning')
current_providers = schedule_df.loc[mask, 'providers'].iloc[0]

# Add Snyder
schedule_df.loc[mask, 'providers'] = current_providers + ',Snyder'

# Update provider_summary_df count for that day 
current_count = schedule_df.loc[mask, 'count'].iloc[0]
schedule_df.loc[mask, 'count'] = current_count + 1

In [12]:
schedule_df.to_csv('../output/december_25/pediatrics/schedule_df.csv', index = False)

In [13]:
provider_summary_df.to_csv('../output/december_25/pediatrics/provider_summary_df.csv', index = False)
provider_summary_df

,provider,week_49,week_50,week_51,total_sessions,monday_or_friday_off,total_AM,total_PM
0,Bedele,"6, 4","6, 3","6, 3",18,1,9,9
1,Carrasco,"0, 0","4, 3","6, 4",10,3,5,5
2,Mador,"0, 0","6, 2","6, 2",12,1,6,6
3,Menachof,"1, 1","0, 0","1, 1",2,3,0,2
4,Miller,"5, 3","6, 3","6, 3",17,2,7,10
5,Snyder,"7, 6","8, 4","6, 6",21,2,9,12
6,Sridhar,"6, 3","6, 6","0, 0",12,3,6,6
7,Tarr,"0, 0","0, 0","0, 0",0,3,0,0

In [14]:
call_summary_df.to_csv('../output/december_25/pediatrics/call_summary_df.csv', index = False)
call_summary_df

   provider  week_48  week_49  week_50  week_51  total_call
0    Bedele        0        2        1        0           3
1  Carrasco        0        2        1        1           4
2  Lichtman        1        0        0        1           2
3     Mador        0        0        0        1           1
4  Menachof        0        1        2        0           3
5    Miller        0        0        1        1           2
6      Shin        0        1        1        0           2
7    Snyder        0        0        0        0           0
8   Sridhar        0        1        1        2           4
9      Tarr        0        0        0        0           0

In [15]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 5201.0,
 'Solve time': '0.033006 seconds',
 'Branches': 426,
 'Conflicts': 0}

In [16]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/pediatrics.yml',
                     leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
                     inpatient_path = '../data/inpatient_sep_dec_25.csv',
                     title = 'Pediatrics Calendar', 
                     output_dir = '../output/december_25/pediatrics',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-11-30 to 2025-12-20
Processing 48 schedule entries...
Processed schedule data for 21 unique dates
Filtered to 182 leave requests for this department
Processing 182 leave requests...
Processed leave requests for 82 unique dates
Filtered to 23 inpatient assignments for this department
Processing 23 inpatient assignments...
Processed inpatient assignments for 133 unique dates
Found 3 weeks containing scheduled dates
Calendar saved to: ../output/december_25/pediatrics/calendar.html

## Family Practice Schedule

In [17]:
schedule_df, provider_summary_df, solution_status = create_fp_schedule(
    config_path = '../config/family_practice.yml',
    leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
    inpatient_path = '../data/inpatient_sep_dec_25.csv',
    peds_schedule_path = '../output/december_25/pediatrics/schedule_df.csv',
    start_date = date(2025, 12, 1),
    end_date = date(2026, 1, 2),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-06-19 16:37:37,199 - engine.engine - INFO - Creating schedule for Family Practice from 2025-12-01 to 2026-01-02
2025-06-19 16:37:37,201 - engine.engine - INFO - Parsing input files
2025-06-19 16:37:37,208 - engine.engine - INFO - Loading pediatric schedule
2025-06-19 16:37:37,209 - engine.engine - INFO - Successfully loaded pediatric schedule with 48 rows
2025-06-19 16:37:37,210 - engine.engine - INFO - Building calendar
2025-06-19 16:37:37,210 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-06-19 16:37:37,210 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-06-19 16:37:37,231 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-06-19 16:37:37,231 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-06-19 16:37:37,251 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-06-19 16:37:37,251 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-06-19 16:37:37,289 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-06-19 16:37:37,291 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [18]:
schedule_df.to_csv('../output/december_25/family_practice/schedule_df.csv', index = False)
schedule_df

          date day_of_week    session                     providers  count
0   2025-12-01      Monday    morning    Austin,Mullenix,Salay,Suen      4
1   2025-12-01      Monday  afternoon       Austin,Finnie,Shin,Suen      4
2   2025-12-02     Tuesday    morning    Finnie,Lichtman,Salay,Suen      4
3   2025-12-02     Tuesday  afternoon           Bia,Salay,Shin,Suen      4
4   2025-12-03   Wednesday    morning    Austin,Bia,Gelman,Mullenix      4
5   2025-12-03   Wednesday  afternoon     Austin,Lichtman,Shin,Suen      4
6   2025-12-04    Thursday  afternoon        Austin,Bia,Gelman,Suen      4
7   2025-12-05      Friday    morning   Brush,Gelman,Mullenix,Salay      4
8   2025-12-05      Friday  afternoon  Austin,Brush,Finnie,Lichtman      4
9   2025-12-08      Monday    morning     Finnie,Mullenix,Shin,Suen      4
10  2025-12-08      Monday  afternoon       Austin,Finnie,Shin,Suen      4
11  2025-12-09     Tuesday    morning       Austin,Gelman,Shin,Suen      4
12  2025-12-09     Tuesday  afternoon      Austin,Finnie,Salay,Shin      4
13  2025-12-10   Wednesday    morning    Gelman,Mullenix,Salay,Shin      4
14  2025-12-10   Wednesday  afternoon  Austin,Gelman,Mullenix,Salay      4
15  2025-12-11    Thursday  afternoon    Gelman,Mullenix,Salay,Shin      4
16  2025-12-12      Friday    morning     Brush,Mullenix,Salay,Suen      4
17  2025-12-12      Friday  afternoon   Brush,Gelman,Mullenix,Salay      4
18  2025-12-15      Monday    morning     Bia,Gelman,Mullenix,Salay      4
19  2025-12-15      Monday  afternoon    Finnie,Mullenix,Salay,Suen      4
20  2025-12-16     Tuesday    morning        Bia,Finnie,Gelman,Suen      4
21  2025-12-16     Tuesday  afternoon    Austin,Bia,Gelman,Lichtman      4
22  2025-12-17   Wednesday    morning     Austin,Bia,Mullenix,Salay      4
23  2025-12-17   Wednesday  afternoon  Austin,Finnie,Mullenix,Salay      4
24  2025-12-18    Thursday  afternoon      Austin,Bia,Lichtman,Suen      4
25  2025-12-19      Friday    morning   Brush,Gelman,Mullenix,Salay      4
26  2025-12-19      Friday  afternoon     Brush,Mullenix,Salay,Suen      4
27  2025-12-22      Monday    morning                   Gelman,Suen      2
28  2025-12-22      Monday  afternoon                   Gelman,Suen      2
29  2025-12-23     Tuesday    morning                 Austin,Gelman      2
30  2025-12-23     Tuesday  afternoon                 Austin,Gelman      2
31  2025-12-24   Wednesday    morning                   Austin,Suen      2
32  2025-12-24   Wednesday  afternoon            Austin,Gelman,Suen      3
33  2025-12-26      Friday    morning             Austin,Brush,Suen      3
34  2025-12-26      Friday  afternoon             Austin,Brush,Suen      3
35  2025-12-29      Monday    morning           Bia,Gelman,Lichtman      3
36  2025-12-29      Monday  afternoon           Bia,Gelman,Lichtman      3
37  2025-12-30     Tuesday    morning       Bia,Lichtman,Salay,Suen      4
38  2025-12-30     Tuesday  afternoon       Bia,Lichtman,Salay,Suen      4
39  2025-12-31   Wednesday    morning       Bia,Lichtman,Salay,Suen      4
40  2025-12-31   Wednesday  afternoon       Bia,Lichtman,Salay,Suen      4
41  2026-01-02      Friday    morning   Brush,Gelman,Lichtman,Salay      4
42  2026-01-02      Friday  afternoon   Brush,Gelman,Lichtman,Salay      4

In [19]:
provider_summary_df.to_csv('../output/december_25/family_practice/provider_summary_df.csv', index = False)
provider_summary_df

,provider,week_1,week_49,week_50,week_51,week_52,total_sessions,monday_or_friday_off,total_AM,total_PM
0,Austin,"0, 0","6, 2","4, 3","4, 3","6, 6",20,5,7,13
1,Bia,"0, 0","3, 2","0, 0","5, 3","0, 0",14,6,7,7
2,Brush,"2, 2","2, 2","2, 2","2, 2","2, 2",10,6,5,5
3,Finnie,"0, 0","3, 2","3, 2","3, 2","0, 0",9,5,3,6
4,Gelman,"2, 2","3, 2","5, 2","4, 2","5, 4",21,5,11,10
5,Lichtman,"2, 2","3, 1","0, 0","2, 1","0, 0",13,6,5,8
6,Mullenix,"0, 0","3, 1","6, 3","6, 2","0, 0",15,3,9,6
7,Salay,"2, 2","4, 2","6, 3","6, 2","0, 0",22,4,11,11
8,Shin,"0, 0","3, 1","6, 5","0, 0","0, 0",9,6,3,6
9,Suen,"0, 0","6, 4","4, 3","4, 2","6, 4",24,3,11,13

In [20]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 16700.0,
 'Solve time': '0.018995 seconds',
 'Branches': 759,
 'Conflicts': 0}

In [21]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/family_practice.yml',
                     leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
                     inpatient_path = '../data/inpatient_sep_dec_25.csv',
                     title = 'Family Practice Calendar', 
                     output_dir = '../output/december_25/family_practice',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-12-01 to 2026-01-02
Processing 43 schedule entries...
Processed schedule data for 23 unique dates
Filtered to 132 leave requests for this department
Processing 132 leave requests...
Processed leave requests for 59 unique dates
Filtered to 15 inpatient assignments for this department
Processing 15 inpatient assignments...
Processed inpatient assignments for 98 unique dates
Found 5 weeks containing scheduled dates
Calendar saved to: ../output/december_25/family_practice/calendar.html