# Generating the October 2025 Schedule 
**This notebook builds the October 2025 schedule for Internal Medicine, Pediatrics, and Family Practice using the scheduler.**

In [1]:
## Setup and Imports
import sys
from pathlib import Path
import os
import pandas as pd
from datetime import date, timedelta

In [2]:
# Add project root (one level up from 'notebooks') to sys.path
project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [3]:
# Import our scheduling engine
from engine.engine import create_im_schedule, create_peds_schedule, create_fp_schedule

# Import calendar generation
from utils.calendar_formatter import create_html_calendar

## Internal Medicine Schedule

In [4]:
schedule_df, provider_summary_df, solution_status = create_im_schedule(
    config_path = '../config/internal_medicine.yml',
    leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
    inpatient_path = '../data/inpatient_sep_dec_25.csv',
    start_date = date(2025, 10, 6),
    end_date = date(2025, 10, 31),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-06-22 13:55:18,305 - engine.engine - INFO - Creating schedule for Internal Medicine from 2025-10-06 to 2025-10-31
2025-06-22 13:55:18,306 - engine.engine - INFO - Parsing input files
2025-06-22 13:55:18,315 - engine.engine - INFO - Building calendar
2025-06-22 13:55:18,316 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-06-22 13:55:18,316 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-06-22 13:55:18,342 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-06-22 13:55:18,342 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-06-22 13:55:18,365 - engine.engine - INFO - Found optimal solution with min_providers = 3
2025-06-22 13:55:18,367 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 3

In [5]:
schedule_df.to_csv('../output/october_25/internal_medicine/schedule_df.csv', index = False)
schedule_df

,date,day_of_week,session,providers,count
0,2025-10-06,Monday,morning,"Mcnett,Rafferty,Tanay",3
1,2025-10-06,Monday,afternoon,"Mcnett,Rafferty,Tanay",3
2,2025-10-07,Tuesday,morning,"Mcnett,Rafferty,Selig,Tanay,Wadlin",5
3,2025-10-07,Tuesday,afternoon,"Mcnett,Mcrae,Rafferty,Selig,Wadlin",5
4,2025-10-08,Wednesday,morning,"Mcnett,Mcrae,Selig,Tanay,Wadlin",5
5,2025-10-08,Wednesday,afternoon,"Mcnett,Mcrae,Miles,Tanay,Wadlin",5
6,2025-10-09,Thursday,afternoon,"Mcnett,Mcrae,Miles,Selig,Tanay",5
7,2025-10-10,Friday,morning,"Mcnett,Mcrae,Selig,Wadlin",4
8,2025-10-10,Friday,afternoon,"Mcnett,Mcrae,Miles,Selig",4
9,2025-10-14,Tuesday,morning,"Mcnett,Selig,Stewart,Wadlin",4
10,2025-10-14,Tuesday,afternoon,"Mcnett,Miles,Selig,Stewart,Wadlin",5
11,2025-10-15,Wednesday,morning,"Mcnett,Mcrae,Miles,Tanay,Wadlin",5
12,2025-10-15,Wednesday,afternoon,"Mcnett,Mcrae,Stewart,Tanay,Wadlin",5
13,2025-10-16,Thursday,afternoon,"Mcnett,Mcrae,Selig,Tanay,Wadlin",5
14,2025-10-17,Friday,morning,"Mcnett,Mcrae,Miles,Selig,Tanay",5
15,2025-10-17,Friday,afternoon,"Mcnett,Mcrae,Selig,Stewart,Tanay",5
16,2025-10-20,Monday,morning,"Mcnett,Mcrae,Miles",3
17,2025-10-20,Monday,afternoon,"Mcnett,Mcrae,Miles",3
18,2025-10-21,Tuesday,morning,"Mcnett,Selig,Tanay",3
19,2025-10-21,Tuesday,afternoon,"Bornstein,Mcnett,Selig,Tanay",4
20,2025-10-22,Wednesday,morning,"Mcnett,Mcrae,Selig,Tanay",4
21,2025-10-22,Wednesday,afternoon,"Mcnett,Mcrae,Miles,Selig,Tanay",5
22,2025-10-23,Thursday,afternoon,"Bornstein,Mcnett,Mcrae,Selig,Tanay",5
23,2025-10-24,Friday,morning,"Mcnett,Selig,Stewart,Tanay",4
24,2025-10-24,Friday,afternoon,"Mcnett,Mcrae,Stewart",3
25,2025-10-27,Monday,morning,"Bornstein,Mcnett,Selig",3
26,2025-10-27,Monday,afternoon,"Bornstein,Mcnett,Selig",3
27,2025-10-28,Tuesday,morning,"Mcnett,Mcrae,Stewart,Tanay",4
28,2025-10-28,Tuesday,afternoon,"Bornstein,Mcnett,Mcrae,Stewart,Tanay",5
29,2025-10-29,Wednesday,morning,"Mcnett,Mcrae,Selig,Stewart,Tanay",5
30,2025-10-29,Wednesday,afternoon,"Bornstein,Mcnett,Mcrae,Tanay",4
31,2025-10-30,Thursday,afternoon,"Mcnett,Mcrae,Selig,Tanay",4
32,2025-10-31,Friday,morning,"Mcnett,Selig,Stewart,Tanay",4
33,2025-10-31,Friday,afternoon,"Mcnett,Mcrae,Selig",3

In [6]:
provider_summary_df.to_csv('../output/october_25/internal_medicine/provider_summary_df.csv', index = False)
provider_summary_df

,provider,week_41,week_42,week_43,week_44,total_sessions,monday_or_friday_off,total_AM,total_PM
0,Bornstein,"0, 0","0, 0","2, 1","4, 2",6,4,1,5
1,Mcnett,"9, 6","7, 4","9, 6","9, 6",34,1,15,19
2,Mcrae,"6, 3","5, 3","6, 2","6, 4",23,3,8,15
3,Miles,"3, 1","3, 2","3, 2","0, 0",9,4,3,6
4,Rafferty,"4, 4","0, 0","0, 0","0, 0",4,4,2,2
5,Selig,"6, 3","5, 3","6, 4","6, 3",23,3,11,12
6,Stewart,"0, 0","4, 2","2, 2","4, 3",10,4,5,5
7,Tanay,"6, 3","5, 3","6, 4","6, 4",23,4,11,12
8,Wadlin,"5, 4","5, 4","0, 0","0, 0",10,4,5,5

In [7]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 3,
 'Objective value': 6400.0,
 'Solve time': '0.022215 seconds',
 'Branches': 593,
 'Conflicts': 0}

In [8]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/internal_medicine.yml',
                     leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
                     inpatient_path = '../data/inpatient_sep_dec_25.csv',
                     title = 'Internal Medicine Calendar', 
                     output_dir = '../output/october_25/internal_medicine',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-10-06 to 2025-10-31
Processing 34 schedule entries...
Processed schedule data for 19 unique dates
Filtered to 132 leave requests for this department
Processing 132 leave requests...
Processed leave requests for 62 unique dates
Filtered to 11 inpatient assignments for this department
Processing 11 inpatient assignments...
Processed inpatient assignments for 70 unique dates
Found 4 weeks containing scheduled dates
Calendar saved to: ../output/october_25/internal_medicine/calendar.html

## Pediatric Schedule

In [9]:
schedule_df, provider_summary_df, call_summary_df, solution_status = create_peds_schedule(
    config_path = '../config/pediatrics.yml',
    leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
    inpatient_path = '../data/inpatient_sep_dec_25.csv',
    start_date = date(2025, 10, 5),
    end_date = date(2025, 11, 1),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-06-22 13:55:18,418 - engine.engine - INFO - Creating schedule for Pediatric from 2025-10-05 to 2025-11-01
2025-06-22 13:55:18,419 - engine.engine - INFO - Parsing input files
2025-06-22 13:55:18,427 - engine.engine - INFO - Building calendar
2025-06-22 13:55:18,427 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-06-22 13:55:18,427 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-06-22 13:55:18,454 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-06-22 13:55:18,454 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-06-22 13:55:18,480 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-06-22 13:55:18,480 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-06-22 13:55:18,523 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-06-22 13:55:18,526 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [10]:
schedule_df.to_csv('../output/october_25/pediatrics/schedule_df.csv', index = False)
schedule_df.head(50)

          date day_of_week    session                        providers  count
0   2025-10-05      Sunday       call                         Carrasco    NaN
1   2025-10-06      Monday    morning  Bedele,Carrasco,Menachof,Snyder    4.0
2   2025-10-06      Monday  afternoon                    Bedele,Snyder    2.0
3   2025-10-06      Monday       call                         Menachof    NaN
4   2025-10-07     Tuesday    morning    Bedele,Carrasco,Miller,Snyder    4.0
5   2025-10-07     Tuesday  afternoon    Bedele,Carrasco,Miller,Snyder    4.0
6   2025-10-07     Tuesday       call                             Shin    NaN
7   2025-10-08   Wednesday    morning           Menachof,Miller,Snyder    3.0
8   2025-10-08   Wednesday  afternoon           Menachof,Miller,Snyder    3.0
9   2025-10-08   Wednesday       call                         Menachof    NaN
10  2025-10-09    Thursday  afternoon           Bedele,Carrasco,Snyder    3.0
11  2025-10-09    Thursday       call                           Bedele    NaN
12  2025-10-10      Friday    morning           Bedele,Carrasco,Snyder    3.0
13  2025-10-10      Friday  afternoon                  Carrasco,Snyder    2.0
14  2025-10-10      Friday       call                          Sridhar    NaN
15  2025-10-11    Saturday       call                          Sridhar    NaN
16  2025-10-12      Sunday       call                         Carrasco    NaN
17  2025-10-13      Monday       call                         Carrasco    NaN
18  2025-10-14     Tuesday    morning    Bedele,Carrasco,Mador,Sridhar    4.0
19  2025-10-14     Tuesday  afternoon      Bedele,Mador,Snyder,Sridhar    4.0
20  2025-10-14     Tuesday       call                          Sridhar    NaN
21  2025-10-15   Wednesday    morning  Carrasco,Menachof,Miller,Snyder    4.0
22  2025-10-15   Wednesday  afternoon     Carrasco,Mador,Miller,Snyder    4.0
23  2025-10-15   Wednesday       call                         Menachof    NaN
24  2025-10-16    Thursday  afternoon      Mador,Miller,Snyder,Sridhar    4.0
25  2025-10-16    Thursday       call                            Mador    NaN
26  2025-10-17      Friday    morning     Mador,Menachof,Miller,Snyder    4.0
27  2025-10-17      Friday  afternoon           Menachof,Miller,Snyder    3.0
28  2025-10-17      Friday       call                             Shin    NaN
29  2025-10-18    Saturday       call                             Shin    NaN
30  2025-10-19      Sunday       call                         Menachof    NaN
31  2025-10-20      Monday    morning     Carrasco,Mador,Miller,Snyder    4.0
32  2025-10-20      Monday  afternoon     Carrasco,Mador,Miller,Snyder    4.0
33  2025-10-20      Monday       call                         Carrasco    NaN
34  2025-10-21     Tuesday    morning   Carrasco,Miller,Snyder,Sridhar    4.0
35  2025-10-21     Tuesday  afternoon   Menachof,Miller,Snyder,Sridhar    4.0
36  2025-10-21     Tuesday       call                          Sridhar    NaN
37  2025-10-22   Wednesday    morning          Menachof,Snyder,Sridhar    3.0
38  2025-10-22   Wednesday  afternoon                  Menachof,Snyder    2.0
39  2025-10-22   Wednesday       call                         Menachof    NaN
40  2025-10-23    Thursday  afternoon    Carrasco,Mador,Snyder,Sridhar    4.0
41  2025-10-23    Thursday       call                            Mador    NaN
42  2025-10-24      Friday    morning           Carrasco,Mador,Sridhar    3.0
43  2025-10-24      Friday  afternoon                 Carrasco,Sridhar    2.0
44  2025-10-24      Friday       call                           Bedele    NaN
45  2025-10-25    Saturday       call                           Bedele    NaN
46  2025-10-26      Sunday       call                           Powell    NaN
47  2025-10-27      Monday    morning                    Mador,Sridhar    2.0
48  2025-10-27      Monday  afternoon                    Mador,Sridhar    2.0
49  2025-10-27      Monday       call                          Sridhar    NaN

In [11]:
provider_summary_df.to_csv('../output/october_25/pediatrics/provider_summary_df.csv', index = False)
provider_summary_df

,provider,week_41,week_42,week_43,week_44,total_sessions,monday_or_friday_off,total_AM,total_PM
0,Bedele,"6, 4","2, 2","0, 0","4, 3",12,3,6,6
1,Carrasco,"6, 3","3, 2","6, 3","6, 4",21,2,11,10
2,Mador,"0, 0","5, 2","4, 2","5, 3",14,2,6,8
3,Menachof,"3, 2","3, 2","3, 3","0, 0",9,4,5,4
4,Miller,"4, 4","5, 3","4, 4","0, 0",13,4,6,7
5,Snyder,"9, 6","6, 3","7, 6","0, 0",22,3,9,13
6,Sridhar,"0, 0","3, 2","6, 3","6, 3",15,4,7,8

In [12]:
call_summary_df.to_csv('../output/october_25/pediatrics/call_summary_df.csv', index = False)
call_summary_df

   provider  week_40  week_41  week_42  week_43  week_44  total_call
0    Bedele        0        1        0        2        1           4
1  Carrasco        1        1        1        1        1           5
2     Mador        0        0        1        1        0           2
3  Menachof        0        2        2        1        2           7
4    Miller        0        0        0        0        0           0
5    Powell        0        0        0        1        1           2
6      Shin        0        1        2        0        0           3
7    Snyder        0        0        0        0        0           0
8   Sridhar        0        2        1        1        1           5

In [13]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 6700.0,
 'Solve time': '0.019780 seconds',
 'Branches': 442,
 'Conflicts': 0}

In [14]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/pediatrics.yml',
                     leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
                     inpatient_path = '../data/inpatient_sep_dec_25.csv',
                     title = 'Pediatrics Calendar', 
                     output_dir = '../output/october_25/pediatrics',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-10-05 to 2025-11-01
Processing 62 schedule entries...
Processed schedule data for 28 unique dates
Filtered to 179 leave requests for this department
Processing 179 leave requests...
Processed leave requests for 75 unique dates
Filtered to 25 inpatient assignments for this department
Processing 25 inpatient assignments...
Processed inpatient assignments for 133 unique dates
Found 4 weeks containing scheduled dates
Calendar saved to: ../output/october_25/pediatrics/calendar.html

## Family Practice Schedule

In [15]:
schedule_df, provider_summary_df, solution_status = create_fp_schedule(
    config_path = '../config/family_practice.yml',
    leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
    inpatient_path = '../data/inpatient_sep_dec_25.csv',
    peds_schedule_path = '../output/october_25/pediatrics/schedule_df.csv',
    start_date = date(2025, 10, 6),
    end_date = date(2025, 10, 31),
    min_staffing_search = True,
    initial_min_providers = 4,
    random_seed = 42
)

2025-06-22 13:55:18,596 - engine.engine - INFO - Creating schedule for Family Practice from 2025-10-06 to 2025-10-31
2025-06-22 13:55:18,598 - engine.engine - INFO - Parsing input files
2025-06-22 13:55:18,605 - engine.engine - INFO - Loading pediatric schedule
2025-06-22 13:55:18,606 - engine.engine - INFO - Successfully loaded pediatric schedule with 62 rows
2025-06-22 13:55:18,607 - engine.engine - INFO - Building calendar
2025-06-22 13:55:18,607 - engine.engine - INFO - Beginning iterative min_providers search, starting with 4
2025-06-22 13:55:18,607 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 4
2025-06-22 13:55:18,624 - engine.engine - WARNING - No feasible solution found with min_providers = 4
2025-06-22 13:55:18,625 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 3
2025-06-22 13:55:18,642 - engine.engine - WARNING - No feasible solution found with min_providers = 3
2025-06-22 13:55:18,642 - engine.engine - INFO - Attempting to solve with min_providers_per_session = 2
2025-06-22 13:55:18,669 - engine.engine - INFO - Found optimal solution with min_providers = 2
2025-06-22 13:55:18,671 - engine.engine - INFO - Successfully found solution with highest possible min_providers = 2

In [16]:
schedule_df.to_csv('../output/october_25/family_practice/schedule_df.csv', index = False)
schedule_df

          date day_of_week    session                    providers  count
0   2025-10-06      Monday    morning                    Shin,Suen      2
1   2025-10-06      Monday  afternoon                    Shin,Suen      2
2   2025-10-07     Tuesday    morning                    Shin,Suen      2
3   2025-10-07     Tuesday  afternoon         Austin,Bia,Shin,Suen      4
4   2025-10-08   Wednesday    morning                   Austin,Bia      2
5   2025-10-08   Wednesday  afternoon              Austin,Bia,Suen      3
6   2025-10-09    Thursday  afternoon             Austin,Shin,Suen      3
7   2025-10-10      Friday    morning                 Austin,Brush      2
8   2025-10-10      Friday  afternoon            Austin,Brush,Shin      3
9   2025-10-14     Tuesday    morning       Austin,Bia,Gelman,Suen      4
10  2025-10-14     Tuesday  afternoon        Bia,Gelman,Salay,Suen      4
11  2025-10-15   Wednesday    morning    Austin,Bia,Mullenix,Salay      4
12  2025-10-15   Wednesday  afternoon    Austin,Bia,Mullenix,Salay      4
13  2025-10-16    Thursday  afternoon    Bia,Gelman,Mullenix,Salay      4
14  2025-10-17      Friday    morning   Brush,Gelman,Mullenix,Suen      4
15  2025-10-17      Friday  afternoon   Brush,Gelman,Mullenix,Suen      4
16  2025-10-20      Monday    morning          Mullenix,Salay,Suen      3
17  2025-10-20      Monday  afternoon          Mullenix,Salay,Suen      3
18  2025-10-21     Tuesday    morning   Austin,Mullenix,Salay,Suen      4
19  2025-10-21     Tuesday  afternoon      Austin,Powell,Shin,Suen      4
20  2025-10-22   Wednesday    morning       Austin,Bia,Powell,Shin      4
21  2025-10-22   Wednesday  afternoon       Austin,Bia,Powell,Shin      4
22  2025-10-23    Thursday  afternoon        Austin,Bia,Salay,Shin      4
23  2025-10-24      Friday    morning         Bia,Brush,Salay,Suen      4
24  2025-10-24      Friday  afternoon      Bia,Brush,Mullenix,Suen      4
25  2025-10-27      Monday    morning            Bia,Mullenix,Suen      3
26  2025-10-27      Monday  afternoon            Bia,Mullenix,Suen      3
27  2025-10-28     Tuesday    morning  Austin,Mullenix,Powell,Suen      4
28  2025-10-28     Tuesday  afternoon     Austin,Bia,Mullenix,Suen      4
29  2025-10-29   Wednesday    morning       Bia,Gelman,Powell,Suen      4
30  2025-10-29   Wednesday  afternoon       Bia,Gelman,Powell,Suen      4
31  2025-10-30    Thursday  afternoon     Austin,Bia,Gelman,Powell      4
32  2025-10-31      Friday    morning        Brush,Mullenix,Powell      3
33  2025-10-31      Friday  afternoon               Brush,Mullenix      2

In [17]:
provider_summary_df.to_csv('../output/october_25/family_practice/provider_summary_df.csv', index = False)
provider_summary_df

,provider,week_41,week_42,week_43,week_44,total_sessions,monday_or_friday_off,total_AM,total_PM
0,Austin,"6, 3","3, 2","5, 4","3, 2",17,4,7,10
1,Bia,"3, 3","5, 4","5, 3","6, 3",19,4,7,12
2,Brush,"2, 2","2, 2","2, 2","2, 2",8,4,4,4
3,Gelman,"0, 0","5, 3","0, 0","3, 2",8,4,3,5
4,Mullenix,"0, 0","5, 3","4, 3","6, 4",15,2,7,8
5,Powell,"0, 0","0, 0","3, 3","5, 2",8,4,4,4
6,Salay,"0, 0","4, 3","5, 3","0, 0",9,3,4,5
7,Shin,"6, 4","0, 0","4, 3","0, 0",10,3,3,7
8,Suen,"6, 4","4, 2","6, 4","6, 6",22,3,10,12

In [18]:
solution_status

{'Status': 'OPTIMAL',
 'Minimum providers per session': 2,
 'Objective value': 6700.0,
 'Solve time': '0.010864 seconds',
 'Branches': 322,
 'Conflicts': 0}

In [19]:
create_html_calendar(schedule_df = schedule_df,
                     config_path = '../config/family_practice.yml',
                     leave_requests_path = '../data/leave_requests_sep_dec_25.csv',
                     inpatient_path = '../data/inpatient_sep_dec_25.csv',
                     title = 'Family Practice Calendar', 
                     output_dir = '../output/october_25/family_practice',
                     filename = 'calendar.html')

Converting date column to datetime...
Calendar range: 2025-10-06 to 2025-10-31
Processing 34 schedule entries...
Processed schedule data for 19 unique dates
Filtered to 136 leave requests for this department
Processing 136 leave requests...
Processed leave requests for 63 unique dates
Filtered to 16 inpatient assignments for this department
Processing 16 inpatient assignments...
Processed inpatient assignments for 91 unique dates
Found 4 weeks containing scheduled dates
Calendar saved to: ../output/october_25/family_practice/calendar.html